@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto','Ariel', sans-serif;
}
/* CARD SPECIFIC */
.card.contact-card{
    margin-bottom: 1em;
    width: 100%;
}
.card.address-card {
  border-radius: 5px;
  background: #fff;
  padding: 0.5em 1em;
  position: absolute;
  top: 60%;
  min-width: 60%;
}
.card.address-card p:last-child{
  font-weight: 700;
}